/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.slotion>span {
  padding: 0px;
}

.asol:nth-child(2){
  z-index: 20;
}

.corner-squar>div>div {
  border-radius: 0px;
}

.animunder::after {
  width: 0px;
  height: 4px;
  background-color: rgb(38, 153, 38);
  display: block;
  transition-duration: 500ms;
  border-radius: 24px;
}

.animunder:hover::after {
  width: 100%;
}

.myfont{
  font-family: Arial, Helvetica, sans-serif;
}